<a href="https://colab.research.google.com/github/vngeno/Moringa/blob/main/Moringa_Data_Science_Prep_W1_Independent_Project_2019_06_FirstName_LastName_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#We will load the sql extension into our environment
#
%load_ext sql
#Now connect to our in memory sqlite database
#
%sql sqlite://

'Connected: @None'

In [ ]:
#we'll now import the python libraries that we'll need in the database
#
import csv
import pandas as pd

In [ ]:
#Loading the table from csv file
#
with open('Karamoja.csv','r') as f:
  Karamoja = pd.read_csv(f, index_col=0, encoding='utf-8')
#%sql DROP TABLE if EXISTS Karamoja
%sql PERSIST Karamoja;

 * sqlite://

'Persisted karamoja'

In [ ]:
#Let's preview our table to understand it
%sql SELECT * FROM Karamoja

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114),
 (268, 'RENGEN', 'KOTIDO', 41273, 652744859, 'Y', 271.18584310000006, 1047.180128, 13278.52043, 12964.49973, 171.5857036, 3515788.789, 179681.139),
 (591, 'KAABONG  EAST', 'KAABONG', 42221, 60801942, 'Y', 160.5885252, 650.1235647999999, 1021.31699, 1004.647534, 15.66040911, 161334.8658, 10181.201),
 (592, 'KAABONG TOWN COUNCIL', 'KAABONG', 38857, 13071455, 'Y', 212.21070299999997, 1229.213444, 175.08052659999998, 156.5038884, 18.52618562, 33211.80017, 22772.636430000002),
 (593, 'KAABONG WEST', 'KAABONG', 41454, 67612362, 'Y', 208.04051840000002, 1056.416068, 967.3367266, 910.2541223, 56.27535518, 189369.7394, 59450.18942),
 (594, 'KALAPATA', 'KAABONG', 99203, 223116860, 'Y', 209.8093519, 633.4231821000001, 2834.349905, 2501.368282, 331.2257949, 524810.4582, 209806.09699999998),
 (595, 'KAMION', 'KAABONG', 60070, 1199409465, 'Y', 259.8982456, 714.4757426, 997.1610206, 411.8070005, 549.8633367000001, 107027.9169, 392864.0158),
 (596, 'KAPEDO', 'KAABONG', 33951, 304557831, 'Y', 301.1543278, 1030.064093, 2365.259806, 1624.56438, 722.6498686000001, 489244.5938, 744375.6816),
 (597, 'KATHILE', 'KAABONG', 56870, 228457417, 'Y', 312.2786152, 1125.685462, 6890.699234000001, 5997.222911, 867.8731713, 1872804.465, 976952.2116),
 (598, 'KAWALAKOL', 'KAABONG', 37691, 1742041261, 'Y', 298.44995919999997, 871.612802, 3934.432233, 2249.7770600000003, 1620.876815, 671445.8717, 1412776.9819999998),
 (599, 'LOBALANGIT', 'KAABONG', 22907, 302572789, 'Y', 386.5298191, 985.1926986, 1890.248613, 879.0023395, 1005.8773960000001, 339760.6153, 990983.0661),
 (600, 'LODIKO', 'KAABONG', 31820, 397700845, 'Y', 164.6520605, 815.2557286, 401.7978207, 324.202666, 75.24439792, 53380.63695, 61343.42645),
 (601, 'LOLELIA', 'KAABONG', 100919, 1069331387, 'Y', 285.2134272, 1273.397362, 2700.676313, 2039.3275829999998, 656.5863967, 581643.6093, 836095.3853),
 (602, 'LOYORO', 'KAABONG', 16608, 1330019236, 'Y', 284.1830582, 1303.403556, 1491.771813, 1318.3090359999999, 154.68223909999998, 374641.0935, 201613.3805),
 (603, 'NAPORE (KARENGA)', 'KAABONG', 20394, 309577387, 'Y', 295.7343498, 765.3349254999999, 1494.047587, 267.559128, 1221.532726, 79126.42475, 934881.6576),
 (604, 'SIDOK', 'KAABONG', 24092, 125330583, 'Y', 285.3362943, 1396.9914939999999, 957.4939457999999, 859.6490275, 97.5422428, 245289.0679, 136265.6835),
 (765, 'ABIM', 'ABIM', 14377, 188613057, 'Y', 501.2632494, 1183.0896480000001, 999.3715888, 593.5313150000001, 259.4493301, 297515.4356, 306951.8167),
 (766, 'ABIM TOWN COUNCIL', 'ABIM', 11489, 115941152, 'Y', 439.7509955, 1061.151087, 788.4628001, 472.6017001, 282.61309389999997, 207827.0681, 299895.1917),
 (767, 'ALEREK', 'ABIM', 12573, 1255760525, 'Y', 520.4076722, 1259.1220449999998, 1266.109868, 902.6841196, 354.4490355, 469763.7415, 446294.5944),
 (768, 'LOTUKEI', 'ABIM', 18641, 191684465, 'Y', 382.8689859, 1003.30391, 698.1712182, 364.988891, 321.8473311, 139742.9265, 322910.6857),
 (769, 'MORULEM', 'ABIM', 16834, 250364895, 'Y', 407.50041650000003, 962.9581695, 925.0541302000001, 600.6731069, 299.1517243, 244774.5413, 288070.5968),
 (810, 'KARITA', 'AMUDAT', 45015, 658008801, 'Y', 193.9048415, 1286.723173, 2513.27183, 1358.647499, 1100.15237, 263448.328, 1415591.549),
 (811, 'LOROO', 'AMUDAT', 22541, 371970302, 'Y', 200.6962102, 1196.08804, 1539.401382, 879.6680039999999, 658.9176121, 176546.0347, 788123.4753),
 (812, 'AMUDAT', 'AMUDAT', 30181, 596393139, 'Y', 239.0478779, 1379.0459449999998, 1651.99842, 676.7832664, 972.1742458999998, 161783.6037, 1340672.952),
 (813, 'AMUDAT TOWN COUNCIL', 'AMUDAT', 4053, 17207110, 'Y', 146.1177968, 861.2084912, 60.77208552, 58.32509019, 2.416785505, 8522.333678, 2081.356199),
 (925, 'KATIKEKILE', 'MOROTO', 11772, 277451997, 'Y', 311.0062152, 546.1402942000001, 145.243518, 30.15704817, 103.27756219999999, 9379.029413, 56404.03821),
 (926, 'NADUNGET', 'MOROTO', 42115, 596023780, 'Y', 133.6679356, 591.2703552999999, 2480.1219, 2406.1906649999996, 70.50569361, 321630.539, 41687.926510000005),
 (927, 'TAPAC', 'MOROTO', 21999, 622266516, 'Y', 155.8699345, 211.96563540000002, 1111.664207, 315.979223, 793.2370943, 49251.66081, 168139.0047),
 (928, 'NORTHERN DIVISION', 'MOROTO', 7161, 2738777, 'Y', 131.9776979, 241.53842680000002, 0.322315707, 0.130940756, 0.19137495100000002, 17.28125956, 46.22440465),
 (929, 'SOUTHERN DIVISION', 'MOROTO', 3272, 2121209, 'Y', 114.7955689, 0.0, 0.17139046100000002, 0.17139046100000002, 0.0, 19.67486547, 0.0),
 (978, 'LOREGAE', 'NAKAPIRIPIRIT', 26644, 928683431, 'Y', 384.256293, 1114.593607, 5759.618906000001, 4622.491870000001, 864.1105686000001, 1776221.59, 963132.1158),
 (979, 'NAKAPIRIPIRIT TOWN COUNCIL', 'NAKAPIRIPIRIT', 1418, 4673094, 'Y', 482.4387931, 1257.802716, 29.14576036, 1.3399191590000001, 27.79576662, 646.428982, 34961.59076),
 (980, 'NAMALU', 'NAKAPIRIPIRIT', 25905, 553067364, 'Y', 560.3130702999999, 1325.254872, 5793.5076229999995, 2197.572106, 3293.74946, 1231328.374, 4365057.517),
 (981, 'KAKOMONGOLE', 'NAKAPIRIPIRIT', 15960, 312709097, 'Y', 398.97900510000005, 1318.2619359999999, 3264.534948, 2791.83741, 457.35760539999995, 1113884.513, 602917.1224),
 (982, 'LOLACHAT', 'NAKAPIRIPIRIT', 22801, 642401705, 'Y', 334.28430180000004, 1225.930541, 5079.779088, 4364.693411, 655.2122757000001, 1459048.489, 803244.7393),
 (983, 'LORENGEDWAT', 'NAKAPIRIPIRIT', 9929, 435714604, 'Y', 188.6996119, 795.7332802, 2008.0681690000001, 1917.576345, 80.41702686, 361845.9121, 63990.504570000005),
 (984, 'NABILATUK', 'NAKAPIRIPIRIT', 27534, 499776866, 'Y', 259.4541224, 1066.204758, 3276.653762, 3156.538704, 87.47454924, 818976.9792, 93265.78063),
 (1023, 'IRIIRI', 'NAPAK', 46979, 1030623258, 'Y', 229.29915730000002, 873.4522414999999, 5473.443674, 1550.9445699999999, 3840.6980810000005, 355630.2829, 3354666.348),
 (1024, 'LOPEEI', 'NAPAK', 18815, 790782350, 'Y', 108.15641140000001, 1053.2571679999999, 3120.318045, 2121.74732, 955.2646167000001, 229480.5759, 1006139.305),
 (1025, 'LORENGECORA', 'NAPAK', 2503, 118997955, 'Y', 184.0811969, 841.8150105000001, 1031.196285, 672.1218865000001, 358.5503345, 123725.0013, 301833.0535),
 (1026, 'LOTOME', 'NAPAK', 17834, 125857565, 'Y', 128.5555976, 507.9070676, 1849.966589, 1770.358693, 78.03589239, 227589.5198, 39634.98127),
 (1027, 'MATANY', 'NAPAK', 29495, 338252511, 'Y', 130.0076868, 497.3532824, 2990.847377, 2664.7961149999996, 288.329571, 346443.9786, 143401.6585),
 (1028, 'NAPAK TOWN COUNCIL', 'NAPAK', 8010, 150906375, 'Y', 175.828068, 725.8139301, 792.2492731000001, 386.1580327, 401.1734419, 67897.42082, 291177.2726),
 (1029, 'NGOLERIET', 'NAPAK', 20790, 158887552, 'Y', 134.0840894, 528.6998225, 1215.227445, 1145.339875, 68.12400511, 153571.8541, 36017.149410000005),
 (1295, 'NYAKWAE', 'ABIM', 16470, 769609687, 'Y', 329.7590298, 779.2250311, 792.8987889, 342.81683839999994, 331.1113402, 113046.948, 258010.2444),
 (1313, 'LOKOPO', 'NAPAK', 23200, 1794470536, 'Y', 120.8622322, 748.8298623, 6471.047334000001, 5830.549392, 553.5431231000001, 704693.2144, 414509.6206),
 (1318, 'RUPA', 'MOROTO', 41493, 2069554899, 'Y', 114.2709211, 699.3343089, 2217.2907170000003, 1989.1195079999998, 222.8388813, 227298.5184, 155838.875),
 (1320, 'MORUITA', 'NAKAPIRIPIRIT', 16588, 839293722, 'Y', 430.5573751, 1248.955812, 1161.3902289999999, 185.2834449, 959.6711616, 79775.15367999999, 1198586.875)]

In [ ]:
#Display a list of Sub Counties and their population and areas.
%%sql
SELECT SUBCOUNTY_NAME , POP, AREA FROM Karamoja

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

In [ ]:
#Sort the list of districts by total crop area (descending order).
%%sql
SELECT DISTRICT_NAME FROM Karamoja
  ORDER BY Crop_Area_Ha DESC;

 * sqlite://
Done.

[('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KAABONG',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('KAABONG',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',),
 ('NAPAK',),
 ('KAABONG',),
 ('KAABONG',),
 ('AMUDAT',),
 ('MOROTO',),
 ('KAABONG',),
 ('MOROTO',),
 ('NAKAPIRIPIRIT',),
 ('KAABONG',),
 ('NAPAK',),
 ('KOTIDO',),
 ('AMUDAT',),
 ('AMUDAT',),
 ('KAABONG',),
 ('KAABONG',),
 ('ABIM',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('MOROTO',),
 ('NAPAK',),
 ('KAABONG',),
 ('ABIM',),
 ('KAABONG',),
 ('KAABONG',),
 ('KAABONG',),
 ('ABIM',),
 ('ABIM',),
 ('NAPAK',),
 ('ABIM',),
 ('ABIM',),
 ('KAABONG',),
 ('KAABONG',),
 ('MOROTO',),
 ('AMUDAT',),
 ('NAKAPIRIPIRIT',),
 ('MOROTO',),
 ('MOROTO',)]

In [ ]:
#Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.
%%sql
SELECT SUBCOUNTY_NAME , S_Prod_Tot FROM Karamoja
WHERE DISTRICT_NAME = "MOROTO" 
ORDER BY SUBCOUNTY_NAME ASC;

 * sqlite://
Done.

[('KATIKEKILE', 9379.029413),
 ('NADUNGET', 321630.539),
 ('NORTHERN DIVISION', 17.28125956),
 ('RUPA', 227298.5184),
 ('SOUTHERN DIVISION', 19.67486547),
 ('TAPAC', 49251.66081)]

In [ ]:
#Compute the total Maize production per District.
%%sql
SELECT COUNT(M_Prod_Tot), DISTRICT_NAME FROM Karamoja 
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[(6, 'ABIM'),
 (4, 'AMUDAT'),
 (14, 'KAABONG'),
 (6, 'KOTIDO'),
 (6, 'MOROTO'),
 (8, 'NAKAPIRIPIRIT'),
 (8, 'NAPAK')]

In [ ]:
#Compute the number of Sub counties where Maize is produced and the total Maize production per District.
%%sql
SELECT DISTRICT_NAME, M_Prod_Tot, COUNT(SUBCOUNTY_NAME) FROM Karamoja
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[('ABIM', 258010.2444, 6),
 ('AMUDAT', 2081.356199, 4),
 ('KAABONG', 136265.6835, 14),
 ('KOTIDO', 179681.139, 6),
 ('MOROTO', 155838.875, 6),
 ('NAKAPIRIPIRIT', 1198586.875, 8),
 ('NAPAK', 414509.6206, 8)]

In [ ]:
#Compute the overall Crop area in all Sub counties where population is over 20000.
%%sql
SELECT Crop_Area_Ha , SUBCOUNTY_NAME FROM Karamoja
WHERE POP > 20000

 * sqlite://
Done.

[(13587.990759999999, 'KOTIDO'),
 (1656.5318550000002, 'KOTIDO TOWN COUNCIL'),
 (7087.823334000001, 'NAKAPERIMORU'),
 (10398.24939, 'PANYANGARA'),
 (13278.52043, 'RENGEN'),
 (1021.31699, 'KAABONG  EAST'),
 (175.08052659999998, 'KAABONG TOWN COUNCIL'),
 (967.3367266, 'KAABONG WEST'),
 (2834.349905, 'KALAPATA'),
 (997.1610206, 'KAMION'),
 (2365.259806, 'KAPEDO'),
 (6890.699234000001, 'KATHILE'),
 (3934.432233, 'KAWALAKOL'),
 (1890.248613, 'LOBALANGIT'),
 (401.7978207, 'LODIKO'),
 (2700.676313, 'LOLELIA'),
 (1494.047587, 'NAPORE (KARENGA)'),
 (957.4939457999999, 'SIDOK'),
 (2513.27183, 'KARITA'),
 (1539.401382, 'LOROO'),
 (1651.99842, 'AMUDAT'),
 (2480.1219, 'NADUNGET'),
 (1111.664207, 'TAPAC'),
 (5759.618906000001, 'LOREGAE'),
 (5793.5076229999995, 'NAMALU'),
 (5079.779088, 'LOLACHAT'),
 (3276.653762, 'NABILATUK'),
 (5473.443674, 'IRIIRI'),
 (2990.847377, 'MATANY'),
 (1215.227445, 'NGOLERIET'),
 (6471.047334000001, 'LOKOPO'),
 (2217.2907170000003, 'RUPA')]

In [ ]:
#Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria.
%%sql
SELECT M_Prod_Tot FROM Karamoja
WHERE M_Yield_Ha > S_Yield_Ha
GROUP BY SUBCOUNTY_NAME
ORDER BY DISTRICT_NAME DESC;

 * sqlite://
Done.

[(3354666.348,),
 (414509.6206,),
 (1006139.305,),
 (301833.0535,),
 (39634.98127,),
 (143401.6585,),
 (291177.2726,),
 (36017.149410000005,),
 (602917.1224,),
 (803244.7393,),
 (963132.1158,),
 (63990.504570000005,),
 (1198586.875,),
 (93265.78063,),
 (34961.59076,),
 (4365057.517,),
 (56404.03821,),
 (41687.926510000005,),
 (46.22440465,),
 (155838.875,),
 (168139.0047,),
 (600723.8929,),
 (959201.3825,),
 (9991.488268000001,),
 (38971.65908,),
 (221609.5114,),
 (179681.139,),
 (10181.201,),
 (22772.636430000002,),
 (59450.18942,),
 (209806.09699999998,),
 (392864.0158,),
 (744375.6816,),
 (976952.2116,),
 (1412776.9819999998,),
 (990983.0661,),
 (61343.42645,),
 (836095.3853,),
 (201613.3805,),
 (934881.6576,),
 (136265.6835,),
 (1340672.952,),
 (2081.356199,),
 (1415591.549,),
 (788123.4753,),
 (306951.8167,),
 (299895.1917,),
 (446294.5944,),
 (322910.6857,),
 (288070.5968,),
 (258010.2444,)]